.container {
  border-radius: 3px;
  overflow: hidden;

  --padding-vertical: 23px;
  --padding-horizontal: 34px;

  @media (max-width: 1200px) {
    --padding-vertical: 21px;
  }
  @media (max-width: 700px) {
    --padding-vertical: 18px;
    --padding-horizontal: 28px;
  }
  @media (max-width: 500px) {
    --padding-vertical: 15px;
    --padding-horizontal: 24px;
  }
}

.header {
  width: 100%;
  padding: var(--padding-vertical) var(--padding-horizontal);
  text-align: left;
  font-weight: 500;
  background-color: var(--lightBackground);
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  color: var(--dark);
  font-size: 20px;
  line-height: 18px;
  font-family: var(--font-monserat);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  &:hover {
    background-color: var(--dark);
    color: var(--light);

    & > .cross path {
      fill: var(--light);
    }
  }

  @media (max-width: 1200px) {
    font-size: 17px;
  }
  @media (max-width: 1000px) {
    font-size: 16px;
  }
  @media (max-width: 700px) {
    font-size: 15px;
  }
  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.cross {
  width: 18px;
  transition: 0.3s ease;
  flex-shrink: 0;

  @media (max-width: 1200px) {
    width: 16px;
  }
  @media (max-width: 700px) {
    width: 14px;
  }
  @media (max-width: 500px) {
    width: 12px;
  }
}

.content {
  overflow: hidden;
  transition: height 0.3s ease;
}

.body {
  padding: var(--padding-vertical) var(--padding-horizontal);
  border-radius: 3px;
  background-color: var(--light-background-2);
  margin-top: 2px;
  font-size: 18px;

  @media (max-width: 1200px) {
    font-size: 15px;
  }
  @media (max-width: 700px) {
    font-size: 14px;
  }
}
