.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 80%;
  margin-right: 16px;
  background: #eee;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
