.desktopButtons {
  display: flex;
  gap: 15px;

  @media (max-width: 800px) {
    display: none;
  }

  &__mobile {
    display: none;
    position: relative;
    width: 200px;

    & button {
      width: 100%;
    }

    @media (max-width: 800px) {
      display: block;
    }
    @media (max-width: 450px) {
      width: 100%;
    }
  }
}

.mobileActiveButton {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &__svg {
    min-width: 11px;
  }
}

.notActiveButtons {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 100;
  width: 100%;
}
