.contentHeader {
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.containerWithShadow {
  padding: 100px var(--side-content-margin);
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 750px) {
  .contentHeader {
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 550px) {
  .contentHeader {
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 450px) {
  .contentHeader {
    height: 65vh;
    background-size: cover;
    background-position: center;
  }
}
