.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--side-content-margin);
  position: absolute;
  width: 100%;
}

.navigation {
  &_ul {
    display: flex;
    list-style: none;
    gap: 4px;
  }

  &_li {
    padding: 10px 30px;
    color: var(--background);
    font-weight: 400;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
