.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--side-content-margin);
  position: absolute;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.siteName {
  color: var(--background);
  font-family: var(--font-bounded);
  font-size: 24px;
}

.navigation {
  display: flex;
  gap: 30px;

  &_ul {
    display: flex;
    list-style: none;
    gap: 4px;

    @media (max-width: 1230px) {
      display: none;
    }
  }

  &_li {
    padding: 10px 30px;
    color: var(--background);
    font-weight: 400;
    font-family: var(--font-bounded);
    font-size: 14px;

    @media (max-width: 1400px) {
      padding: 10px 20px;
    }

    @media (max-width: 1300px) {
      padding: 10px 15px;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.writeButton {
  font-family: var(--font-bounded);
  font-size: 14px;

  @media (max-width: 500px) {
    display: none;
  }
}
