.pageHeader {
  & > div > div > h1 {
    font-size: clamp(30px, 5vw, 60px) !important;
  }
}

.innerUl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  list-style: none;

  & > li {
    margin-left: 17px;
    &::before {
      content: '-';
      margin-right: 10px;
      color: var(--link-color);
    }
  }
}

.approval {
  text-align: right;
  display: flex;
  flex-direction: column;
}
