.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: 1600px) {
    gap: 40px;
    flex-direction: column;
  }
  @media (max-width: 1200px) {
    gap: 30px;
    flex-direction: column;
  }
}

.desktopSelectButtons {
  flex-direction: row;
  gap: 20px;
  min-width: 202px;

  @media (max-width: 1600px) {
    flex-direction: row;
  }
}
