.container {
  display: flex;
  gap: 17px;
  padding: 8px 10px;
  width: fit-content;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: var(--lightBackground);
  }
}

.iconContainer {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-grey);
  border-radius: 2px;
}

.icon {
  width: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  color: var(--light-grey-2);
}

.fileType {
}

.circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--light-grey-2);
  opacity: 0.7;
}

.fileWeight {
}
