.button {
  display: flex;
  padding: 4px;
  background-color: var(--lightBackground);
  border-radius: 3px;
  align-items: center;
}

.iconContainer {
  width: 71px;
  height: 71px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.content {
  padding: 0px 30px;
  font-size: 20px;
  font-weight: 500;
}
