@font-face {
  font-family: 'Bounded';
  src: url('/fonts/bounded/Bounded-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('/fonts/bounded/Bounded-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('/fonts/bounded/Bounded-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('/fonts/bounded/Bounded-Variable.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
