.pageHeader {
  background-image: url('/images/backgrounds/main-page-background-image.jpg');
}

.content {
  display: flex;
  justify-content: space-between;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 614px;
}

.title {
  font-family: var(--font-bounded);
  font-size: 70px;
  font-weight: 500;
}

.paragraph {
  font-weight: 300;
  font-size: 20px;
}

.comments {
  max-width: 587px;
}
