.pageHeader {
  background-image: url('/images/backgrounds/main-page-background-image.jpg');
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-family: var(--font-bounded);
  font-size: 70px;
  font-weight: 500;
}

.splitLine {
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
}

.info {
  display: flex;
  justify-content: space-between;
}

.paragraph {
  font-weight: 300;
  font-size: 20px;
}

.comments {
  max-width: 587px;
}
