.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__text {
    font-size: 18px;
    color: var(--grey);
  }
}

.container {
  
}

.list {
  &__item {
  }
}
