.article {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    gap: 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 40px;
  background-color: var(--dark);
  border-radius: 3px;
  flex: 1;
  min-width: 400px;

  @media (max-width: 1000px) {
    gap: 20px;
  }
  @media (max-width: 600px) {
    padding: 25px 30px;
    gap: 15px;
    min-width: 250px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--light);
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--light);

  @media (max-width: 600px) {
    font-size: 19px;
  }
}

.paragraph {
  font-size: 16px;
  font-weight: 300;

  @media (max-width: 600px) {
    font-size: 15px;
  }
}
