.container {
  display: flex;
  gap: 84px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  min-width: 540px;
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.paragraph {
  font-size: 20px;
  line-height: 30px;
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__text {
    font-size: 16px;
    font-weight: 600;
  }
}

.deliveryLink {
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}
