.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 1200px) {
    gap: 30px;
  }
}

.title {
  @media (max-width: 1600px) {
    display: none;
  }
}

.information {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 1600px) {
    gap: 30px;
  }
  @media (max-width: 1200px) {
    gap: 20px;
  }
}

.pricesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
}

.prices {
  --col-gap: 5px;
  --border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: var(--col-gap);
  flex: 1;
}

.pricesLabel {
  width: 100%;
  background-color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  border-radius: var(--border-radius);

  &__text {
    font-family: var(--font-bounded);
    color: var(--accent-color);
    font-size: 20px;
  }
}

.pricesTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-family: var(--font-monserat);
  border-radius: var(--border-radius);
  overflow: hidden;
  font-size: 16px;

  & th,
  & td {
    text-align: center;
  }
  & th:not(:last-child),
  & td:not(:last-child) {
    border-right: var(--col-gap) solid var(--background);
  }
  & th {
    padding: 11px;
    font-weight: 600;
  }
  & td {
    padding: 9px;
  }

  & thead {
    & tr {
      background-color: #d8d8d8;
      font-weight: bold;
    }
  }

  & tbody {
    & tr:nth-child(odd) {
      background-color: rgba(231, 231, 231, 0.5);
    }
    & tr:nth-child(even) {
      background-color: rgba(231, 231, 231, 1);
    }
  }

  &__fromPriceText {
    color: var(--grey);
  }
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.paragraph {
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 1600px) {
    font-size: 18px;
    line-height: 25px;
  }
  @media (max-width: 1200px) {
    font-size: 16px;
    line-height: 22px;
  }
  @media (max-width: 700px) {
    font-size: 15px;
    line-height: 19px;
  }
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__text {
    font-size: 20px;
    line-height: 25px;

    @media (max-width: 700px) {
      font-size: 15px;
    }
  }
}

.deliveryLink {
  color: var(--link-color);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
