.container {
  display: flex;
  gap: 4px;

  --vertical-padding: 12px;
  --border-radius: 3px;

  @media (max-width: 700px) {
    --vertical-padding: 7px;
    gap: 2px;
  }
}

.day {
  padding: var(--vertical-padding) 29px;
  background-color: var(--lightBackground);
  min-width: 135px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 16px;
    font-weight: 600;

    @media (max-width: 700px) {
      font-size: 14px;
    }
    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  @media (max-width: 700px) {
    min-width: 115px;
    padding: var(--vertical-padding) 17px;
  }
  @media (max-width: 500px) {
    min-width: 85px;
    padding: var(--vertical-padding) 15px;
  }
}

.content {
  display: flex;
  gap: 20px;
  background-color: var(--lightBackground);
  flex: 1;
  padding: 4px;
  justify-content: space-between;

  @media (max-width: 700px) {
    padding: 2px;
    gap: 10px;
  }
  @media (max-width: 500px) {
    gap: 5px;
  }
}

.perDay {
  padding: var(--vertical-padding) 50px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 16px;

    @media (max-width: 700px) {
      font-size: 14px;
    }
    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  @media (max-width: 700px) {
    padding: var(--vertical-padding) 16px;
  }
}

.total {
  padding: 12px 22px;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 20px;
    font-weight: 600;
    color: var(--light);

    @media (max-width: 700px) {
      font-size: 14px;
    }
    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  @media (max-width: 700px) {
    padding: 8px 19px;
    min-width: 105px;
  }
  @media (max-width: 500px) {
    padding: 7px 17px;
    min-width: 95px;
    white-space: nowrap;
  }
}
