.section {
  background: url('/images/backgrounds/instance-of-games-background-1.jpg');
  background-position: top center;
  display: flex;
  flex-direction: column;
  gap: 122px;
  padding: 100px 0px;
}

.header {
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 70px;
}

.title {
  font-size: 60px;
}

.paragraph {
  font-size: 20px;
  font-weight: 300;
  max-width: 55%;
}

.carouselContainer {
}
