.rentButton {
  align-items: center;
  overflow: hidden;
  padding: 16px 39px;
  font-family: var(--font-bounded);

  &__text {
    margin-right: 30px;
    opacity: 1;
    transition: opacity 0.25s;
  }

  &__arrow {
    position: absolute;
    top: 20px;
    animation: rentButtonArrowIn 0.25s ease-in-out forwards;
  }

  &:hover {
    & .rentButton__text {
      opacity: 0;
    }

    & .rentButton__arrow {
      animation: rentButtonArrowOut 0.35s ease-out forwards;
    }
  }

  @media (max-width: 600px) {
    padding: 13px 32px;

    &__arrow {
      top: 16px;
    }
  }
}

@keyframes rentButtonArrowOut {
  0% {
    right: 30px;
  }

  40% {
    right: -20px;
  }

  41% {
    display: none;
  }

  42% {
    right: 200px;
  }

  43% {
    display: block;
  }

  100% {
    right: 100px;
  }
}

@keyframes rentButtonArrowIn {
  0% {
    right: 100px;
  }

  100% {
    right: 30px;
  }
}
